<html xmlns="http://www.w3.org/1999/xhtml"
      ng-app="joinin">
<head>
    <title>Joinin</title>
    <script src="/Scripts/Vendor/angular.js"></script>
    <script src="/Scripts/Vendor/angular-route.js"></script>
    <script src="/Scripts/Vendor/moment.js"></script>
    <script src="/Scripts/Vendor/ngDialog.js"></script>
    <script src="/Scripts/Vendor/moment-with-locales.js"></script>
    <script src="/Scripts/Vendor/angular-validator.js"></script>
    <script src="/Scripts/Vendor/angular-cookies.js"></script>
    <script src="/Scripts/Vendor/angular-local-storage.js"></script>
    <script src="/Scripts/src/application.js"></script>
    <script src="/Scripts/src/services.js"></script>
    <script src="/Scripts/src/controllers.js"></script>
    <link rel="stylesheet" href="~/css/listing.css" />
    <link rel="stylesheet" href="/css/ngDialog.css">
    <link rel="stylesheet" href="/css/ngDialog-theme-default.css">
    <link rel="stylesheet" href="/css/ngDialog-theme-plain.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    @*<link rel="stylesheet" type="text/css" href="Scripts/Vendor/Semantic/semantic.css">*@
    <script src="/Scripts/Vendor/jquery.js"></script>
    <script src="/Scripts/Vendor/Semantic/semantic.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <style>
        body {
            background: url("/Images/photo_bg.jpg") no-repeat center center fixed;
            background-size: cover;
        }
    </style>
</head>
<body ng-controller="homeController">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/">Join In</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a ng-show="logedRole=='user'" class="dropdown-toggle"  data-toggle="dropdown" href="#/">Moj profil<span class="caret"></span></a>
                    <ul class="dropdown-menu" ng-show="logedRole=='user'">
                        <li><a href="#/edit">Uredi</a></li>
                    </ul>
                </li>
                <li ng-show="logedRole=='admin'"><a href="#/adminPage">Admin</a></li> 
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-show="logedRole"href="#/logout"><span class="glyphicon glyphicon-user"></span>Logout</a></li>
                <li ng-show="!logedRole"><a href="#/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>
    <div ng-view></div>
</body>
</html>