<html xmlns="http://www.w3.org/1999/xhtml"
      ng-app="joinin">
<head>
    <title>Joinin</title>
    <script src="/Scripts/Vendor/angular.js"></script>
    <script src="/Scripts/Vendor/angular-route.js"></script>
    <script src="/Scripts/Vendor/moment.js"></script>
    <script src="/Scripts/Vendor/ngDialog.js"></script>
    <script src="/Scripts/Vendor/moment-with-locales.js"></script>
    <script src="/Scripts/Vendor/angular-validator.js"></script>
    <script src="/Scripts/Vendor/angular-cookies.js"></script>
    <script src="/Scripts/Vendor/angular-local-storage.js"></script>
    <script src="/Scripts/src/application.js"></script>
    <script src="/Scripts/src/services.js"></script>
    <script src="/Scripts/src/controllers.js"></script>
    <link rel="stylesheet" href="/css/ngDialog.css">
    <link rel="stylesheet" href="/css/ngDialog-theme-default.css">
    <link rel="stylesheet" href="/css/ngDialog-theme-plain.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="Scripts/Vendor/Semantic/semantic.css">
    <script src="/Scripts/Vendor/jquery.js"></script>
    <script src="/Scripts/Vendor/Semantic/semantic.js"></script>
</head>


<body ng-controller="homeController">
    <div ng-view></div>
</body>
</html>