<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<style>
    .groups {
        width: 38%;
        height: 300px;
        border: solid;
        display: inline-block;
        margin-left: 5%;
        margin-bottom: 20px;
    }

    #showGroups {
        margin-left: 5%;
        margin-right: 10%;
    }

    #loadingMoreFrames{
        margin-left: 40%;
    }

    .framepicture{
        margin-left:10%;
        margin-right:10%;
        margin-top: 10%;
        height: 150px;
        width: 80%;
    }

    .groupNameInFrame, .findMore {
        margin-left: 40%
    }

    .form-group{
        margin-left: 40%;
    }
</style >
<body>

    <div class="custom-dropdown big" style="margin-left:24%">
        <select ng-model="chosenCity" ng-options="city.Name for city in allCities" required></select>
        <br />
    </div>

    <div class="custom-dropdown big">
        <select ng-model="chosenAffinity" ng-options="affinity.Name for affinity in allAffinities" required></select>
        <br />
    </div>

    <input id="search-input" type="text" placeholder="Unesite ime za pretragu" ng-model="searchedText" />

    <span ng-click="FindWithThisCondition()" class="glyphicon glyphicon-search"></span>
    <!--<input type="button" value="Pretrazi" ng-click="FindWithThisCondition()" />-->

    <br />
    <br />

    <div style="margin-left:17%; ">
        <!--id=hehe-->
        <div id="banner" style="background-image:url({{userToShowForFirst.photoUrl}})">

        </div>
        <div id="informations" >
            <h3>{{userToShowForFirst.Name}}</h3>
            <h4>{{userToShowForFirst.Purpose}}</h4>
            <ul id="banlist">
                <li>{{userToShowForFirst.City.Name}}</li>
                <li>{{userToShowForFirst.AffinityType.Name}}</li>
                <!--<li>Asset and style allocation</li>-->
            </ul>
            <a href="#" id="banbut">Learn More</a>
            <div class="clear"></div>
        </div>
    </div>

    <div id="groupslisting" style="margin-left:17%; margin-right:17%; display:inline-block;">
        <div class="iconAndNameOfGroups" ng-repeat="group in groupsToShow">
            <img class="imgInIcon" ng-src="{{group.photoUrl}}" alt="Nema slike" ng-click="PutThisGroupInMiddle(group)"/>
            <h4 style="width:80%; height:40%; margin-left:10%; margin-right:10%;">{{group.Name}}</h4>
        </div>
    </div>


    <!--<div id="showGroups" ng-show="groupsToShow.length">
        <h1>Grupe</h1>
        <div ng-repeat="group in groupsToShow  | limitTo:limit" class="groups">
            <img ng-src="{{group.photoUrl}}" alt="Nema slike" class="framepicture" />
            <h3 class="groupNameInFrame">{{group.Name}}</h3>
        </div>
    </div>
    <div ng-show="!groupsToShow.length">
        <h1>Nema grupa</h1>
    </div>-->
    <!--<input type="button" ng-click="aloo()" value="Tessst" />

    <input type="button" ng-click="readAll()" value="IzlistajSve" ng-show="!areAllLoaded" id="loadingMoreFrames" />

    <hr />
    <input type="button" ng-click="idemo()" value="test" style="margin-left: 40%;"/>-->

</body>
